PROGRAM_NAME='DAITEX AUTOMATED TRADING SYSTEM'
PROGRAM_MODE=trading
LOCAL_TIMEZONE=Europe/Kyiv

API_KEY=<YourApiKey>
API_SECRET=<YourApiSecret>

LOGGER_TELEGRAM_API_TOKEN=
LOGGER_TELEGRAM_CHAT_ID=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_NAME=
